@import '../../scss/variables';
@import '../../scss/mixins';

.Path {
  width: 100%;
  padding: 4rem 6rem;
  background-color: $clr-primary-10;
  display: flex;

  @include respond(phone) {
    padding: 3rem;
  }

  h3 {
    letter-spacing: 0.1rem;
    font-size: 3rem;
    font-weight: 800;
    color: $clr-primary-1;
    line-height: 1.25;
  }

  a {
    color: $clr-primary-3;
    margin-right: 1rem;

    &:hover {
      color: $clr-primary-1;
    }
  }

  span {
    color: $clr-primary-1;
  }
}
