.ProductControl {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  margin: 1rem 0;
}

.Control {
  font-size: 1.6rem;
}

.NumItems {
  font-size: 100%;
  font-weight: 800;
}
