@import '../../scss/variables';

.ErrorPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 18rem);
  background-color: $clr-primary-10;

  h1 {
    font-size: 15rem;
    font-weight: 800;
    text-align: center;
  }

  h2 {
    font-size: 3.6rem;
    padding-bottom: 3rem;
    font-weight: 800;
    text-align: center;
  }
}
