@import '../../../scss/variables';
@import '../../../scss/mixins';

.Footer {
  width: 100%;
  padding: 4rem;
  background-color: $clr-black;
  color: $clr-white;
  text-align: center;
  position: absolute;
  bottom: 0;

  .Branch {
    color: $clr-primary-5;
  }
}

.SideBarShow {
  @include respond(tab-port) {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 50;
  }
}
